*, *::after, *::before {
    box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    background-color: rgba(136, 136, 136, 0.05);

}

img {
    max-width: 100%;
    display: block;
}

section {
    padding: 5rem 0;
    
}


/* Mobile Nav Bar */

header {
    position: sticky;
    top: 0;
    z-index: 10000;
    background-color: white;
}

.desktop-nav {
    display: none;
}

.mobile-header {
    position: relative;
    z-index: 101;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 9rem;
    padding-left: 2rem;
}

.mobile-header .container {
    display: flex;
}

.mobile-header img {
    max-width: 12rem;
}

.hamburger {
    position: relative;
    display: block;
    width: 3rem;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    margin-right: 1rem;
}

.hamburger .bar, .hamburger::after{
    content: '';
    display: block;
    width: 100%;
    height: .2rem;
    margin: .5rem 0;
    background-color: black;
    transition: 0.4s;
}

.hamburger.is-active::after {
    transform: rotate(-45deg) translate(.1rem, -.3rem);
}

.hamburger.is-active .bar {
    transform: rotate(45deg) translate(.2rem, .4rem);
}

.mobile-nav {
    font-size: 1.7rem;
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    min-height: 100dvh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 100;
    background-color: #fff;
    padding: 9rem 0 0 2rem;
    transition: 0.4s;
}

.mobile-nav.is-active {
    right: 0;
} 

.mobile-nav a {
    margin-bottom: 2rem;
    text-decoration: none;
    color: black;
}

.mobile-nav p {
    padding-right: 4rem;
    line-height: 1.65;
    font-size: 1.5rem;
}

.mobile-nav a:active {
    color: #3c54e5;
}

.search {
    max-width: fit-content;
    margin-top: 25rem;
    background-color: rgba(136, 136, 136, 0.03);
    padding: 2rem;
    border-radius: 5rem;
}

.search img {
    max-width: 2rem;
}

/* Mobile hero */

.hero {
    padding: 0;
    position: relative;
}

.hero-bg1 {
    position: relative;
    min-height: 40rem;
    overflow: hidden;
    background: url(../imgs/headerBanner1.png) no-repeat center;
    background-size: cover;
}

.hero-bg2 {
    position: relative;
    height: 40rem;
    overflow: hidden;
    background: url(../imgs/headerBanner2.jpg) no-repeat center;
    background-size: cover;
}

.owl-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    color: white;
    width: 100%;
    padding-inline: 1rem;
}

.owl-nav button {
    background-color: rgba(136, 136, 136, 0.03);
}

/* Mobile Strengths Section */

.strengths {
    max-width: 50rem; 
    margin: auto;
}

.strengths .container {
    padding: 0 2.5rem;
    color: white;
    position: absolute;
    z-index: 99;
    top: 40rem;
    max-width: 50rem;
    margin: auto;
}

.card1, .card2, .card3 {
    position: relative;
    margin-bottom: 1rem;
    overflow: hidden;
}

.card1 img, .card2 img, .card3 img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(1);
}

.card1:hover img, .card2:hover img, .card3:hover img {
    transform: scale(1.1);
}

.strengths .container p {
    font-size: 1.2rem;
}

.strengths .container .top-card p {
    font-weight: 600;
}

.strengths .container .bottom-card p {
    line-height: 1.65;
}

.strengths .container h3 {
    font-size: 2.5rem;
    margin: 0;
}

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    background-color: rgba(23, 22, 26, 0.83);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Company Showcase */

.company-showcase {
    background-color: #f9f9f9;
    padding-top: 130rem;
    padding-inline: 2.5rem;
}

.company-showcase .container {
    display: block;
    margin: 0 auto;
}

.company-img {
    min-height: 30rem;
    background: url(../imgs/companyBuilding.jpg) no-repeat center; 
    background-size: cover;
    border-radius: .5rem;
}

.company-review h4{
    font-size: 2.4rem;
    font-weight: 400;
}

.company-review p {
    font-size: 1.6rem;
}

/* To fix top padding */

@media ( min-width: 437px ) {
    .company-showcase {
        padding-top: 140rem;
    }
}

@media ( min-width: 461px ) {
    .company-showcase {
        padding-top: 145rem;
    }
}

@media ( min-width: 477px ) {
    .company-showcase {
        padding-top: 155rem;
    }
}

/* Values Section */

.values {
    padding-inline: 2.5rem;
    background-color: white;
    position: relative;
}

.values h3 {
    font-size: 3.6rem;
    margin-top: 0;
    font-weight: 400;
}

.values p {
    font-size: 1.5rem;
    line-height: 1.65;
}

.learn-more{
    font-size: 1.5rem;
    color: white;
    background-color: #3c54e5;
    padding: 1.4rem 1.8rem;
    margin: 0 auto;
    max-width: fit-content;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-radius: .5rem;

}

.learn-more .show {
    left: 0;
}

.values span {
    display: inline-block;
    padding-left: 1rem;
    transition: transform 0.2s ease-in-out;
}

a:hover span {
    transform: translateX(1rem);
}

.value-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-block: 2rem 4rem;
    max-width: 50rem;
    margin: 0 auto;
}

.value1, .value2, .value3, .value4 {
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
}

.value1 img, .value2 img, .value3 img, .value4 img{
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(1);
}

.value1:hover img, .value2:hover img, .value3:hover img, .value4:hover img{
    transform: scale(1.2);
}

.reveal {
    position: relative;
    transform: translateY(120px);
    opacity: 0;
    transition: 1s all ease-in-out;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/* Stats Section */

.numbers {
    padding-top: 0;
    display: block;
}

.numbers .container {
    color: white;
    position: relative;
}

.numbers .bg-img {
    background: url(../imgs/stats.jpg);
    background-size: cover;
    min-height: 70rem;
}


.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.stats .row1 {
    display: flex;
    height: 9rem;
    align-items: center;
}

.row1 p {
    font-size: 4rem;
}

.row1 .plus {
    font-size: 3rem;
}

.stats img {
    min-width: 5rem;
    fill: #f9f9f9;
    margin-right: 1rem;
}

.stats1, .stats2, .stats3, .stats4 {
    padding: 2rem;
    text-align: center;
    display: grid;
    place-items: center;
}

.stats1 {
    background-color: #FF535FED;
}

.stats1 img {
    max-width: 5rem;
}

.stats2 {
    background-color: #1DDBBBED;
}

.stats3 {
    background-color: #6E14DEED;
}

.stats4 {
    background-color: #E4CF1DDE;
}

.stats .row2 p {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 0;
}

/* Brands Section, PressEnter Lifestyle section */

.brands {
    padding-inline: 2.5rem;
    padding-top: 0;
}

.PressEnter {
    background-color: white;
    padding-inline: 2.5rem;
}

.brands h3, .PressEnter h3 {
    font-size: 3.6rem;
    margin-top: 0;
}

.brands-overview {
    font-size: 1.5rem;
    line-height: 1.65;
    padding-bottom: 3rem;
    max-width: 70rem;
    margin: 0 auto;
}

.brands-list p {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
}

.brands-list, .lifestyle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    position: relative;
    flex: 1;
}


.brands-list img, .lifestyle-container {
    transition: transform 0.3s ease-in-out ;
}

.brands-list img:hover, .lifestyle-container:hover {
    transform: translateY(-1rem);
}

.lifestyle-container {
    min-width: 15rem;
    height: 20rem;
    background-color: black;
}

.lifestyle1 {
    background: url(../imgs/life1.jpg) center / cover;
}

.lifestyle2 {
    background: url(../imgs/life2.jpg) center / cover;
}

.lifestyle3 {
    background: url(../imgs/life3.jpg) center / cover;
}

.lifestyle4 {
    background: url(../imgs/life4.jpg) center / cover;
}

.lifestyle5 {
    background: url(../imgs/life5.jpg) center / cover;
}

.lifestyle6 {
    background: url(../imgs/life6.jpg) center / cover;
}

/* Contact Section */

.contact {
    background: url(../imgs/contactBanner.jpg) center / cover;
    min-height: 40rem;
}

.contact .container {
    padding-inline: 2.5rem;
    max-width: 125rem;
    margin: 0 auto;
}

.talkToUs p {
    font-size: 1.4rem;
    color: #7d7c80;
}

.talkToUs h4 {
    color: white;
    font-size: 4rem;
    font-weight: 400;
    margin-top: 0;
    max-width: 40rem;
}

.top-section {
    border-bottom: 1px solid rgb(110, 110, 110);
    padding-bottom: 7rem;
}

.top-section a {
    color: white;
    text-decoration: none;
    font-size: 1.56rem;
    border: 1px solid white;
    padding: 1.4rem 1.8rem;
    border-radius: .5rem;
    transition: .4s ease-in-out all;
    height: 100%;
}

.top-section a:hover {
    color: black;
    background-color: #E4CF1D;
    border:  1px solid #E4CF1D;
}

.bottom-section p {
    color: white;
    line-height: 1.65;
    font-size: 1.56rem;
    padding-top: 3rem;
    max-width: 60rem;
}

.top-section span {
    display: inline-block;
    padding-left: 1rem;
    transition: transform 0.2s ease-in-out;
}

/* Footer Section */

footer {
    background-color: #17161A;
}

footer .container {
    padding: 4rem 2.5rem;
}

footer h5, footer p {
    margin: 0;
}

footer h5, .col1 a {
    color: #6A696C;
    font-size: 1.6rem;
    padding-bottom: 2rem;
    text-decoration: none;
}

.footer-content, .part1, .col3 a ,.col4 a {
    color: white;
    font-size: 1.6rem;
    padding-bottom: 2rem;
    font-weight: 200;
    text-decoration: none;
    display: block;
    line-height: 1.65;
}

footer a:hover {
    color: #E4CF1D;
}


.col4 a, .col4 .footer-content {
    padding-bottom: 0;
}

.office-name {
    font-weight: 400;
}

.copyright {
    font-size: 1.6rem;
    border-top: 1px solid whitesmoke;
}

.copyright p {
    padding: 2.5rem;
    line-height: 1.65;
    color: white;
    max-width: 125rem;
    margin: 0 auto;
}






/* Tablet Screen */

@media ( min-width: 769px ) {
    
    /* Hero Image */
    .hero-bg1, .hero-bg2 {
        min-height: 70rem;
    }
    
    /* Strengths Section */

    .strengths {
        max-width: 130rem;
    }
    
    .strengths .container  {
        display: flex;
        top: 70rem;
        max-width: 130rem;
    }

    .card2 {
        margin-inline: 1rem;
    }
    
    /* Tablet/Desktop Nav Bar */
    
    .mobile-header {
        display: none;
    }

    .desktop-nav {
        display: block;
        
    }
    
    .desktop-nav .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3.2rem 2rem;
    }
    
    .menu {
        display: flex;
    }
    
    .menu a {
        text-decoration: none;
        color: black;
        padding-right: 2rem;
        font-size: 1.6rem;
        padding-inline: 2.4rem;
        font-weight: bold;
    }

    .menu a:last-child {
        padding-right: 0;
    }

    .menu a:hover {
        color: #3c54e5;
    }
    
    .desktop-nav img {
        max-height: 4rem;
    }

    /* Company Showcase */

    .company-showcase {
        padding-top: 15rem;
    }
    
    .company-showcase .container {
        display: flex;
        align-items: center;
        max-width: 150rem;
        margin: 0 auto;
    }
    
    .company-img {
        width: 100%;
        min-width: 45rem;
        margin-right: 4rem;
        min-height: 40rem;
        max-width: 80rem;
    }
    
    .company-review h4{
        font-size: 2rem;
    }
    
    .company-review p {
        font-size: 1.2rem;
    }

    /* Values Section */

    .values .container {
        max-width: 150rem;
        margin: 0 auto;
        text-align: center;
    }

    .values p {
        max-width: 60rem;
        margin: 0 auto;
        padding-bottom: 2rem;
    }

    .value-cards {
        max-width: 100%;
        grid-template-columns: repeat(4,1fr);
    }

    /* Stats Section*/

    .stats {
        grid-template-columns: repeat(4, 1fr);
        max-width: 150rem;
        left: 50%;
        transform: translate(-50%);
    }

/* Brands Section, PressEnter Lifestyle section */

    .brands .container, .PressEnter .container {
        max-width: 120rem;
        margin: 0 auto;
        text-align: center;
    }

    .brands-list, .lifestyle {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .lifestyle-container {
        max-width: 45rem;
    }

    /* Contact Section */

    .contact {
        padding-block: 8rem;
    }

    .top-section {
        display: flex;
        justify-content: space-between;
    }

    /* Footer Section */
    .footer-top {
        display: flex;
        justify-content: space-evenly;
        flex: 1;
        max-width: 163rem;
        margin: 0 auto;
    }
}

/* 

<footer>
    <div class="container">
        <div class="footer-top">
            <div class="col1">
                <h5>Fb. / Ig.</h5>
            </div>
            <div class="col2">
                <h5>Office</h5>
                <div class="footer-content">
                    <p><span class="office-name">PressEnter Group</span> The Ferries Business Centre,9 Guze Fava Street,Sliema SLM1632,Malta</p>
                </div>
            </div>
            <div class="col3">
                <div class="footer-content">
                    <div class="part1">
                        <h5>Work with us</h5>
                        <p>Interested in working with us? Current openings</p>
                    </div>
                    <div class="part2">
                        <h5>Contact</h5>
                        <p>(+356) 9949 6223</p>
                    </div>
                </div>
            </div>
            <div class="col4">
                <h5>Links</h5>
                <div class="footer-content">
                    <a href="">Cookie Policy</a>
                    <a href="">Privacy Policy</a>
                </div>
            </div>
        </div>
        </div>
        <div class="copyright">
            <p>PressEnter is operating its brands through BP Group Limited which is a company registered in Malta with company number C-52434, licensed and regulated in the
                European Union by the Malta Gaming Authority: License number MGA/B2C/203/2011.</p>
        </div>
</footer>


*/


/* To fix top padding */

@media ( min-width: 851px ) {
    .company-showcase {
        padding-top: 20rem;
    }
}

@media ( min-width: 967px ) {
    .company-showcase {
        padding-top: 25rem;
    }
}



/* Desktop Screen */

@media ( min-width: 1024px ) {
    
    /* Desktop Nav */
    
    .desktop-nav {
        max-width: 130rem;  
        margin: 0 auto; 
    }
    
    /* Strengths Section */
    
    .card-content {
        padding: 4rem;
    }
    
    .strengths .container .top-card p {
        font-size: 1.4rem;    
    }
    
    .strengths .container .bottom-card p {
        font-size: 1.5rem;
    }
    
    .strengths .container h3 {
        font-size: 3.4rem;
    }

    /* Company Showcase */

    .company-showcase {
        padding-top: 30rem;
    }

    /* PressEnter Lifestyle Section */

    .lifestyle-container {
        min-height: 30rem;
    }
}

/* To fix top padding */

@media ( min-width: 1203px) {
    .company-showcase {
        padding-block: 40rem 9rem;
    }
}