*, *::after, *::before {
    box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    background-color: rgba(136, 136, 136, 0.05);

}

img {
    max-width: 100%;
    display: block;
}

section {
    padding: 5rem 0;
    
}


/* Mobile Nav Bar */

header {
    position: sticky;
    top: 0;
    z-index: 10000;
    background-color: white;
}

.desktop-nav {
    display: none;
}

.mobile-header {
    position: relative;
    z-index: 101;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 9rem;
    padding-left: 2rem;
}

.mobile-header .container {
    display: flex;
}

.mobile-header img {
    max-width: 12rem;
}

.hamburger {
    position: relative;
    display: block;
    width: 3rem;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    margin-right: 1rem;
}

.hamburger .bar, .hamburger::after{
    content: '';
    display: block;
    width: 100%;
    height: .2rem;
    margin: .5rem 0;
    background-color: black;
    transition: 0.4s;
}

.hamburger.is-active::after {
    transform: rotate(-45deg) translate(.1rem, -.3rem);
}

.hamburger.is-active .bar {
    transform: rotate(45deg) translate(.2rem, .4rem);
}

.mobile-nav {
    font-size: 1.7rem;
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    min-height: 100dvh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 100;
    background-color: #fff;
    padding: 9rem 0 0 2rem;
    transition: 0.4s;
}

.mobile-nav.is-active {
    right: 0;
} 

.mobile-nav a {
    margin-bottom: 2rem;
    text-decoration: none;
    color: black;
}

.mobile-nav p {
    padding-right: 4rem;
    line-height: 1.65;
    font-size: 1.5rem;
}

.mobile-nav a:active {
    color: #3c54e5;
}

.search {
    max-width: fit-content;
    margin-top: 25rem;
    background-color: rgba(136, 136, 136, 0.03);
    padding: 2rem;
    border-radius: 5rem;
}

.search img {
    max-width: 2rem;
}

/* Mobile hero */

#hero {
    padding: 0;
    position: relative;
}

.hero-bg1 {
    position: relative;
    min-height: 40rem;
    overflow: hidden;
    background: url(/assets/imgs/headerBanner1.png) no-repeat center;
    background-size: cover;
}

.hero-bg2 {
    position: relative;
    height: 40rem;
    overflow: hidden;
    background: url(/assets/imgs/headerBanner2.jpg) no-repeat center;
    background-size: cover;
}

.owl-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    color: white;
    width: 100%;
    padding-inline: 1rem;
}

.owl-nav button {
    background-color: rgba(136, 136, 136, 0.03);
}

/* Mobile Strengths Section */

.strengths {
    max-width: 50rem; 
    margin: auto;
}

.strengths .container {
    padding: 0 2.5rem;
    color: white;
    position: absolute;
    z-index: 99;
    top: 40rem;
    max-width: 50rem;
    margin: auto;
}

.card1, .card2, .card3 {
    position: relative;
    margin-bottom: 1rem;
    overflow: hidden;
}

.card1 img, .card2 img, .card3 img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(1);
}

.card1:hover img, .card2:hover img, .card3:hover img {
    transform: scale(1.1);
}

.strengths .container p {
    font-size: 1.2rem;
}

.strengths .container .top-card p {
    font-weight: 600;
}

.strengths .container .bottom-card p {
    line-height: 1.65;
}

.strengths .container h3 {
    font-size: 2.5rem;
    margin: 0;
}

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    background-color: rgba(23, 22, 26, 0.83);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Company Showcase */

#company-showcase {
    background-color: #f9f9f9;
    padding-top: 130rem;
    padding-inline: 2.5rem;
}

#company-showcase .container {
    display: block;
    margin: 0 auto;
}

.company-img {
    min-height: 30rem;
    background: url(../imgs/companyBuilding.jpg) no-repeat center; 
    background-size: cover;
}

.company-review h4{
    font-size: 2.4rem;
    font-weight: 400;
}

.company-review p {
    font-size: 1.6rem;
}

/* To fix top padding */

@media ( min-width: 437px ) {
    #company-showcase {
        padding-top: 140rem;
    }
}

@media ( min-width: 461px ) {
    #company-showcase {
        padding-top: 145rem;
    }
}

@media ( min-width: 4px ) {
    #company-showcase {
        padding-top: 155rem;
    }
}



/* Tablet Screen */

@media ( min-width: 769px ) {
    
    /* Hero Image */
    .hero-bg1, .hero-bg2 {
        min-height: 70rem;
    }
    
    /* Strengths Section */

    .strengths {
        max-width: 130rem;
    }
    
    .strengths .container  {
        display: flex;
        top: 70rem;
        max-width: 130rem;
    }

    .card2 {
        margin-inline: 1rem;
    }
    
    /* Tablet/Desktop Nav Bar */
    
    .mobile-header {
        display: none;
    }

    .desktop-nav {
        display: block;
        
    }
    
    .desktop-nav .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3.2rem 2rem;
    }
    
    .menu {
        display: flex;
    }
    
    .menu a {
        text-decoration: none;
        color: black;
        padding-right: 2rem;
        font-size: 1.56rem;
    }

    .menu a:last-child {
        padding-right: 0;
    }

    .menu a:hover {
        color: #3c54e5;
    }
    
    .desktop-nav img {
        max-height: 3.5rem;
    }

    /* Company Showcase */

    #company-showcase {
        padding-top: 15rem;
    }
    
    #company-showcase .container {
        display: flex;
        align-items: center;
        max-width: 125rem;
        margin: 0 auto;
    }
    
    .company-img {
        width: 100%;
        min-width: 45rem;
        margin-right: 4rem;
        min-height: 40rem;
        max-width: 80rem;
    }
    
    .company-review h4{
        font-size: 2rem;
    }
    
    .company-review p {
        font-size: 1.2rem;
        
        
    }

}

/* To fix top padding */

@media ( min-width: 851px ) {
    #company-showcase {
        padding-top: 20rem;
    }
}

@media ( min-width: 967px ) {
    #company-showcase {
        padding-top: 25rem;
    }
}

/* 
<section id="company-showcase">
    <div class="container">
        <div class="company-img"></div>
        <div class="company-review">
            <h4>A team of creatives and technicians trailblazing new pathways in iGaming and Sportsbetting.</h4>
            <p>_ We are iGaming</p>
            <p>Our team is more than capable. We are innovators, creators, and collaborators given the tools we need to succeed.</p>
            <p>_ Top talent</p>
            <p>Our teams employ the best talents in the industry, or we grow them ourselves.</p>
        </div>
    </div>
</section>

*/

/* Desktop Screen */

@media ( min-width: 1024px ) {
    
    /* Desktop Nav */
    
    .desktop-nav {
        max-width: 130rem;  
        margin: 0 auto; 
    }
    
    /* Strengths Section */
    
    .card-content {
        padding: 4rem;
    }
    
    .strengths .container .top-card p {
        font-size: 1.4rem;    
    }
    
    .strengths .container .bottom-card p {
        font-size: 1.5rem;
    }
    
    .strengths .container h3 {
        font-size: 3.4rem;
    }

    /* Company Showcase */

    #company-showcase {
        padding-top: 30rem;
    }
}

@media ( min-width: 1203px) {
    #company-showcase {
        padding-top: 35rem;
    }
}